@model List<PruebaIngreso.Models.ViewModel>

@{
   ViewBag.Title = "Test 4";
}
<h2>@ViewBag.Title.</h2>

<table class="table">
   <thead>
      <tr>
         <th scope="col">Service Code</th>
         <th scope="col">Net Rate</th>
         <th scope="col">Rate</th>
         <th scope="col">Margin</th>
      </tr>
   </thead>
   <tbody>
      @foreach (var q in Model)
      {
         <tr>
            <th scope="row">@q.ServiceCode</th>
            <td>@q.AdultNetRate</td>
            <td>@q.AdultRate</td>
            <td>@q.Margin</td>
         </tr>
      }
   </tbody>
</table>